<header class="header">
    <div class="header-logo logo">
        <router-link class="logo-link" to="/">
            <strong>3po</strong>
            <span>Blog</span>
        </router-link>
    </div>
    <nav class="header-navigation">
        <ul class="header-navigation__list">
            <li v-for="menuItem in menuItems" class="header-navigation__list-item">
                <router-link class="header-navigation__link" :to="{name: 'Category' , params: {categoryName : menuItem.menuText, categoryID : menuItem.categoryID}}" active-class="active">{{menuItem.menuName}}</router-link>
            </li>
        </ul>
    </nav>
</header>
