$f-serif: 'PT Serif', serif;
$f-san-serif: 'Montserrat', sans-serif;

$c-font-basic: #111111;
$c-font-reversed: #ffffff;
$c-border: #dedede;

$c-yellow: #FFD117;
$c-orange: #FFAA17;
$c-ping: #e20069;
$c-blue: #7BB3D0;
$c-violet: #7B85D0;
$c-green: #BBD07B;
