$f-serif: 'PT Serif', serif;
$f-san-serif: 'PT Sans', sans-serif;

$c-font-basic: #111111;

$c-yellow:#FFD117;
$c-orange:#FFAA17;
$c-ping:#F77F63;
$c-blue:#7BB3D0;
$c-violet:#7B85D0;
$c-green:#BBD07B;;
